body{
    background-image: url('../img/Interior_of_St_Andrew\'s_Catholic_Church_in_Roanoke\,_Virginia.jpg');
    background-size: cover;
}
@media (max-width: 480px) {
    body {  
        background-image: url('../img/Interior_of_St_Andrew\'s_Catholic_Church_in_Roanoke\,_Virginia_mobile.jpg');
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: center;
        background-size: 100%;
    }
}
#main-container{
    margin-top: 3%;
}
#cards{
    margin-bottom: 10%;
}
#card-body{
    background-image: url('../img/bg-cruz.png');
    background-size: contain;
}
.yes-tod-tom{
    font-family: Impact;
}
/*definindo as coloracoes de cada dia*/
 #day-white{
    color: white;
}#day-red{
    color: red;
}#day-green{
    color: darkgreen;
}#day-purple{
    color: purple;
}#day-black{
    color: black;
}#day-pink{
    color: pink;
}
/*!definindo as coloracoes de cada dia*/
